.vscode
ssh-keys/
vault.pass
ansible/hosts
.venv/
.python-version
.ansible
.claude
__pycache__/

## Pulumi
*.pyc
venv/
Pulumi.yaml
pulumi/.pulumi/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
.terraform.lock.hcl
docker/terraform/terraform.tfvars